<body>
  <header>
    <div class="heading">
      <h1 class="title">BusSchedule</h1>
    </div>
    <div class="navbar">
      <ul class="nav-lists">
          <li class="return-top">
            <%= link_to "トップに戻る", root_path %>
          </li>
          <li>
          <%= link_to "運行先を記録する", new_destination_path %>
          </li>
      </ul>
     </div>
  </header>
  <div class="calender-back">
    <div class="graph">
    杉本佐一さんの運行先
     <%= pie_chart [['長距離運行', 2], ['中距離運行', 2],['短距離運行', 1]]%>
     
    </div>
<%= render partial: 'destinations/destination', locals: { destination: @destination } %>
    
  </div>
</body>