<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="index.css">
  <meta charset="UTF-8">
  <title>BusSchedule37808</title>
</head>
<body>
  <header>
    <div class="heading">
      <h1 class="title">BusSchedule</h1>
    </div>
    <div class="navbar">
      <ul class="nav-lists">
      <% if user_signed_in? %>
      <li class="user-status">
          <%= link_to "ログアウト",  destroy_user_session_path, method: :delete %>
        </li>
        <% else %>      
        <li class="user-status">
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        </li>
        <li class="user-status">
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
        </li>
      <% end %>
        <li class="background-blue">連絡
        </li>
        <li>スケジュール</li>
      </ul>
      <ul class="show-lists"></ul>
    </div>
  </header>
  <div class="contents">
    <% if user_signed_in? %>
    <h3 class="greeting">
       <%= "こんにちは、#{current_user.name}さん" %>
    </h3>
    <% end %>
  </div>
</body>
</html>
